.AnswerItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: rgba(255, 255, 255, .2);
    transition: background .3s ease-in-out;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.success {
  background-color: rgba(161, 240, 69, .7);

  &:hover {
    background-color: rgba(161, 240, 69, .7);
  }
}

.error {
  background-color: rgba(240, 87, 108, .7);

  &:hover {
    background-color: rgba(240, 87, 108, .7);
  }
}