.Input {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-weight: bold;
}

.invalid {
  color: #f01f30;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0 0 5px;
  outline: none;
  transition: .3s ease-in-out;
}

.errorMessage {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}